/* src/styles.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  .mat-sidenav-container {
    height: 100%; /* Full height for sidenav container */
    flex: 1;      /* Make it grow to fill the available space */
  }
  