<div class="budget-container">
    <h2>Adjust Your Budget</h2>
    
    <label class="label-secondary">Total Income: </label>
    <input type="number" [(ngModel)]="totalIncome" (ngModelChange)="onIncomeChange()" min="0">
    
    <div class="sliders-wrapper">
      <!-- Category sliders and input fields -->
      <div *ngFor="let category of categories" class="slider-container">
        <label>{{ category.name }}: </label>
  
        <!-- Vertical Slider -->
        <input type="range" class="vertical-slider" [(ngModel)]="category.value" (ngModelChange)="onInputChange(category)" min="0"  [max]="category.max"  [disabled]="category.locked">
        
        <!-- Numerical input field -->
        <input type="number" [(ngModel)]="category.value" (ngModelChange)="onInputChange(category)" min="0"  [max]="category.max" class="number-input"  [disabled]="category.locked">
        
        <button (click)="toggleLock(category)">
            {{ category.locked ? 'Unlock' : 'Lock' }}
        </button>
    
    </div>
    </div>
  
    <div class="total-budget">
      <h3>Total Allocated Budget: {{ totalAllocated }} / {{ totalIncome }}</h3>
    </div>
    <button (click)="toggleTotalBudgetLock()">
      {{ isTotalBudgetLocked ? 'Unlock Total Allocated' : 'Lock Total Allocated' }}
    </button>
  </div>
